{% extends "csiro_template.html" %}

{% block content %}

    <h1>PROV Show</h1>
    <p>PROV Show is a small web application (this website) that lets you make visualisation of <a href="https://www.w3.org/RDF/">RDF</a> graphs that implement the <a href="https://www.w3.org/TR/prov-o/">PROV-O provenance ontology</a>.</p>
    <p>To use this tool, enter your RDF data using the form below, select visualisation options and go! There are detailed instructions for use below the form in the 'How To' section.</p>
    <h2>Enter Data</h2>
    <form id="uploadForm" style="width:610px;" action="{{ url_for('show') }}" method="POST" enctype="multipart/form-data">
        <h3>1. Enter RDF data or upload an RDF file</h3>
        <table style="margin-top:-20px;">
            <tr>
                <td style="display:block; width:600px;">
                    <h4>Enter RDF data:</h4>
                    <label for="copy_format">RDF Format:</label>&nbsp;
                    <select id="copy_format" name="copy_format">
                        <option selected="selected" value="turtle">turtle</option>
                        <option value="xml">RDF/XML</option>
                        <option value="json-ld">JSON-LD</option>
                    </select><br />
                    <textarea id="copy" name="copy" style="height:300px; width:580px;"></textarea><br />
                </td>
                <td style="vertical-align:top;">
                    <h4>Upload RDF file:</h4>
                    <input id="file" name="file" type="file" accept=".rdf,.ttl,.n3,.json" /><br />
                    <em>Upload only .rdf, .ttl, .n3 or.json (JSON-LD) files.</em><br />
                </td>
            </tr>
        </table>

        <h3>2. Select a Filtering Strategy</h3>
        <select id="strategy" name="strategy">
            <option selected="selected" id="basic" value="basic">basic</option>
            <option id="entities_only" value="entities_only">entity only</option>
        </select><br />
        <span style="font-style:italic;">Only two strategies are implemented for now but more will appear soon. See the <a href="{{ url_for('strategiez') }}">strategies page</a> to further understand what filtering takes place.</span>

        <h3>3. Select a result type</h3>
        <select id="result_type" name="result_type">
            <option selected="selected" id="web" value="web">web page</option>
            <option id="svg" value="svg">SVG only</option>
            <option id="rdf" value="rdf">RDF only</option>
            <option id="img" value="img">PNG image</option>
        </select><br />
        <span style="font-style:italic;">The default is to return a web page result with your image but you can also choose just an image (SVG or PNG) or you can just get the filtered RDf data.</span>

        <h3>4. just do it, <input id="visualise" type="submit" value="Visualise!" /></h3>
        <p id="input-error" style="color:red; font-style:italic; display:none;">You must either input RDF into the test area or upload an RDF file.</p>
    </form>
    <hr />

    <h2>How To</h2>
    <p>Overall, you need to:</p>
    <ol>
        <li>
            Paste in, Upload or HTTP POST your RDF data
            <ul>
                <li>if POSTing, do so directly to the receiving endpoint: <code>{{ request.url[:-1] }}{{ url_for('show') }}</code></li>
            </ul>
        </li>
        <li>
            Select a graph filtering strategy
            <ul>
                <li>There are several to choose from and they are all documented on the <a href="{{ url_for('strategiez') }}">Strategies Page</a>.</li>
            </ul>
        </li>
        <li>
            Choose your results format
            <ul>
                <li>You can choose from a web page including the graphics, an image or the raw, filtered RDF results</li>
            </ul>
        </li>
        <li>Hit Visualise!</li>
    </ol>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}" charset="utf-8"></script>
    <script>
        // jQuery onLoad function
        $(function() {
            // simple form validation: either RDF data must be pasted into the textarea or uploaded as a file
            $('#visualise').click(function(e) {
                if (!$("#copy").val().trim() && !$("#file").val().trim()) {
                    e.preventDefault();
                    $("#input-error").show();
                }
                else {
                    $("#input-error").hide();

                    // validate the RDF
                    if ($("#copy").val().trim()) {
                        console.log('we have textarea data');
                    } else {
                        console.log('we have file data');
                    }
                }
            });
        });
    </script>

{% endblock %}