<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>PROV SVG</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}" charset="utf-8"></script>
</head>
<body>
    <h1>PROV SVG</h1>
    <h2>Enter Data</h2>
    <form id="uploadForm" style="width:610px;" action="{{ url_for('show') }}" method="POST" enctype="multipart/form-data">
        <h3>1. Enter RDF data or upload an RDF file</h3>
        <table style="margin-top:-20px;">
            <tr>
                <td>
                    <h4>Enter RDF data:</h4>
                    <label for="copy_format">RDF Format:</label>&nbsp;
                    <select id="copy_format" name="copy_format">
                        <option selected="selected" value="turtle">turtle</option>
                        <option value="xml">RDF/XML</option>
                        <option value="json-ld">JSON-LD</option>
                    </select><br />
                    <textarea id="copy" name="copy" style="height:300px; width:600px;"></textarea><br />
                </td>
                <td style="vertical-align:top;">
                    <h4>Upload RDF file:</h4>
                    <input id="file" name="file" type="file" accept=".rdf,.ttl,.n3,.json" /><br />
                    <em>Upload only .rdf, .ttl, .n3 or.json (JSON-LD) files.</em><br />
                </td>
            </tr>
        </table>

        <h3>2. Select a Filtering Strategy</h3>
        <select id="strategy">
            <option selected="selected" id="basic" value="basic">basic - PROV 3 basic classes only</option>
        </select>
        <h3>3. <input id="visualise" type="submit" value="Visualise!" /></h3>
        <p id="input-error" style="color:red; font-style:italic; display:none;">You must either input RDF into the test area or upload an RDF file.</p>
    </form>
    <hr />

    <h2>How To</h2>
    <p>Overall, you need to:</p>
    <ol>
        <li>Paste in or Upload your RDF data</li>
        <li>Select a graph filtering strategy</li>
        <li>Hit Visualise! and see your results</li>
    </ol>
    <p>Currently only one strategy is available - "basic" which visualises the three basic PROV classes - while this system is in test but more will appear soon.</p>

    <h3>Uploading Data</h3>
    <p>There are 3 ways to load PROV-O data into this application for visualisation:</p>
    <ol>
        <li>Copy 'n Paste your RDF data into text box in the Upload Form above</li>
        <li>Select an RDF file on your computer & upload it using the Upload Fom above</li>
        <li>Post (HTTP POST) your RDF data with an RDF content type to this endpoint</li>
    </ol>
    <h3>Filtering strategies</h3>
    <p>This tool validates that your data is valid <a href="https://www.w3.org/TR/prov-o/">PROV-O</a> and then displays some subset of PROV-O classes and properties, or subclasses ans subproperties specialised from PROV-O, depending on the strategy you choose.</p>
    <p>Current stategies are:</p>
    <ul>
        <li>
            <em>basic</em>
            <ul>
                <li>This strategy reduces your data down to PROV-O <code>Activity</code>, <code>Agent</code> &amp <code>Entity</code> class objects only and <code>wasGeneratedBy</code>, <code>used</code>, <code>wasAttributedTo</code> and other basic object properties and one or two data properties (<code>rdfs:label</code>, <code>prov:value</code> etc.) and displays only that.</li>
            </ul>
        </li>
    </ul>

    <h3>Seeing results</h3>
    <p>Your results will be </p>

    <script>
        // jQuery onLoad function
        $(function() {
            // simple form validation: either RDF data must be pasted into the textarea or uploaded as a file
            $('#visualise').click(function(e) {
                if (!$("#copy").val().trim() && !$("#file").val().trim()) {
                    e.preventDefault();
                    $("#input-error").show();
                }
                else {
                    $("#input-error").hide();

                    // validate the RDF
                    if ($("#copy").val().trim()) {
                        console.log('we have textarea data');
                    } else {
                        console.log('we have file data');
                    }
                }
            });
        });
    </script>
</body>
</html>